
.nopadding{padding-left: 0px!important;padding-right: 0px!important;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}

.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}

.mb0{margin-bottom: 0px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}

.pTB30{padding-top: 30px; padding-bottom: 30px;}

.bg1{/*background: #fff;*/background:repeat url('../images/f_bg.png') center;}

.clearfixed{overflow: auto;}

.well{overflow: auto;background-color: #fff!important;}
.dir-alp-l-com{border: solid 1px #eaeaea; }
.sidebar .dir-alp-l3 ul{height: 180px;overflow-y: scroll;
}
.sidebar .dir-alp-l3 ul li{padding-top: 4px!important;}

body{background-color:#f1f1f1!important; font-size: 13px!important;}
a{display: inline-block; }


#course .course-price .display1{font-size: 30px;font-weight: 300;color:#273a78;}
#course .course-price .display2{font-size: 14px;font-weight: 500;color:#000;}

.course-price .btn{background: #F44336;}
.course-price .btn:hover{background: #14addb;}

.table thead {background: #f5f5f5;}

.cat-v2-hom-list ul li a{min-height: 206px;overflow: hidden;}
.cat-v2-hom-list ul li a img{width:auto; height: 100px; overflow: hidden;}
.cat-v2-hom-list ul li a:hover{    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.05);
    box-shadow: 0px 11px 9px -10px rgba(0, 0, 0, 0.52);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}

.tabs{background-color: transparent;}
.tabs .tab a{color: #000;}
.row .col.s3{border-bottom: 2px solid rgba(0, 0, 0, 0.1);}
.tabs .indicator{background-color: #34498b;height: 2px;}


.fillter-ad img{margin-top: 20px;max-width: 100%; height: auto;}
.fillter-ad1-728 {text-align: center;margin-bottom: 25px;}
.fillter-ad-728 {text-align: center;margin-bottom: 15px;}
.fillter-ad1-728 img, .fillter-ad1-728 img{max-width: 100%;}


.content-block{background-color: #fff;}
.content-block .content-img{min-height: 150px;overflow: hidden;} 
.content-block .content-img img{width: 100%; height: auto;}
/*.content-block .content-details{margin-top: -20px;}*/
.content-block .content-details a{color: #333;/*display: inline-block;*/}
.content-block .content-details a img{float: left;margin-right: 10px; border: solid 1px #ccc;}
.content-block .content-details a h6{margin-top: 5px;line-height: 16px;font-size: 15px;font-weight: 500;}
/*.divided-border{background: #ccc; height: 1px;margin-bottom: 10px;}*/

.content-block .btn-group{display: block;}

.content-block:hover{transform: }


.list-room-deta h3{font-size: 16px!important;text-transform: capitalize!important;}
.list-room-type ul, .list-enqu-btn ul{overflow: auto;margin-bottom: 0px!important;}
.list-enqu-btn ul li{width: 50%!important;}
/*.list-room-type{padding-top: 0px!important;}*/
.ele-btn a{margin: 10px 0px!important;}
.pg-elem h3{padding-bottom: 0px!important;}


/*.list-spac{margin: 0px!important;}*/
.home-list-pop img.title-img{width: 40px; height: 40px;float: left; margin-right: 5px;opacity: 1.0;}
.home-list-pop .un-details{margin-left:45px;}
.home-list-pop img {opacity: 0.5;filter: alpha(opacity=50);}
.home-list-pop:hover img {opacity: 1.0;filter: alpha(opacity=100);}

.custom-ancr{border: 1px solid #eaeaea;
    text-align: center;
    /*display: block;*/
    padding: 5px 10px;
    color: #3e4c56;
    box-sizing: border-box;
    margin: 4px;
    border-radius: 2px;
    font-weight: 600;}
.custom-ancr:hover{color:#fff;    background: #263a78;}

.custom-tab a{margin: 0!important;}
.breadcrumb{margin-bottom: 10px!important;padding: 0px 15px!important;border: 1px solid #e3e3e3;
    border-radius: 4px;}
.breadcrumb li, .breadcrumb li a, .breadcrumb li i{font-size: 11px;}
.breadcrumb > li + li:before, .breadcrumb li i{color:#273a78!important;}

.badge{background-color: #263a78!important; color: #fff!important;margin-left:5px!important;}

.cus-ul ul{margin-left: 30px;margin-top: 10px;}
.cus-ul ul li{font-size: 13px;display: inline-block;padding: 0px 10px;border-right:solid 2px #c2c5ce;
    line-height: 15px;color: #273a78;font-weight: bold;}
.cus-ul ul li:last-child {border-right: none;}

.college-view-row{}
.college-view-row .college-view{border-right:solid 1px #e5e8ec;border-bottom:solid 1px #e5e8ec;border-top:none;
    border-left:none;padding: 15px 10px;min-height: 100px;}
.college-view-row .college-view:last-child, .college-view-row .college-view:nth-child(3){border-right: none;}    
.college-view-row .college-view:nth-child(4),
.college-view-row .college-view:nth-child(5),
.college-view-row .college-view:nth-child(6){border-bottom: none;}

.college-view-row .college-view:nth-child(6){border-right: 0px;}

.college-view-row .college-view a h3 img{ float: left;width: 40px;margin-right: 5px; }
.college-view-row .college-view a h3 {font-size: 14px;font-weight: normal;}
.college-view-row .college-view a h3{color: #000;}
.college-view-row .college-view a:hover h3{color:#263a78;}

#register .s12 .form-group .form-control{background-color:rgba(255,255,255,0.9);min-height:40px;}
#register .s12 a{color:#fff;}
#register .s12 a:hover{color:#000;}




/*.universities-name{margin-left: 45px;}*/
.course-total-fee{margin: 10px 0px;}
.course-total-fee h5 span{font-size:20px;font-weight: bold;color: #182336;}


















/* Responsive */


@media screen and (max-width: 767px) {

	.ts-menu .ts-menu-1, .ts-menu .ts-menu-5{width: 10%;}
	/*.ts-menu .ts-menu-3{width: 75%;}*/
	/*.ts-menu .ts-menu-1{width: 10%;}*/
    /*.ts-menu-5 span i{margin: 11px 0px;}*/
}


@media screen and (max-width: 414px) {

    .ts-menu .ts-menu-1, .ts-menu .ts-menu-5{width: 13%;}
   
}

@media screen and (max-width: 380px) {

    .ts-menu .ts-menu-1, .ts-menu .ts-menu-5{width: 12%;}
   
}

/* Responsive */











