<div class="modal-header">
  <h3>Title</h3>
</div>
<div class="modal-body">
  <p>Content</p>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="close(0)">Cancel</button>
  <button class="btn btn-primary" ng-click="close(1)">OK</button>
</div>