
.nopadding{padding-left: 0px!important;padding-right: 0px!important;}
.pl15{padding-left: 15px;}
.pr15{padding-right: 15px;}

.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}

.mb0{margin-bottom: 0px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}

.pTB30{padding-top: 30px; padding-bottom: 30px;}

.bg1{/*background: #fff;*/background:repeat url('../images/f_bg.png') center;}

.well{overflow: auto;background-color: #fff!important;}
.dir-alp-l-com{border: solid 1px #eaeaea; }
.sidebar .dir-alp-l3 ul{height: 180px;overflow-y: scroll;
}
.sidebar .dir-alp-l3 ul li{padding-top: 4px!important;}


body{background-color:#f1f1f1!important; }
a{display: inline-block; }

.cat-v2-hom-list ul li a{min-height: 206px;overflow: hidden;}
.cat-v2-hom-list ul li a img{width:auto; height: 100px; overflow: hidden;}
.cat-v2-hom-list ul li a:hover{    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.05);
    box-shadow: 0px 11px 9px -10px rgba(0, 0, 0, 0.52);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}

.tabs{background-color: transparent;}
.tabs .tab a{color: #000;}
.row .col.s3{border-bottom: 2px solid rgba(0, 0, 0, 0.1);}
.tabs .indicator{background-color: #34498b;height: 2px;}







.content-block{background-color: #fff;}
.content-block .content-img{min-height: 150px;overflow: hidden;} 
.content-block .content-img img{width: 100%; height: auto;}
/*.content-block .content-details{margin-top: -20px;}*/
.content-block .content-details a{color: #333;/*display: inline-block;*/}
.content-block .content-details a img{float: left;margin-right: 10px; border: solid 1px #ccc;}
.content-block .content-details a h6{margin-top: 5px;line-height: 16px;font-size: 15px;font-weight: 500;}
/*.divided-border{background: #ccc; height: 1px;margin-bottom: 10px;}*/

.content-block .btn-group{display: block;}

.content-block:hover{transform: }


.list-room-deta h3{font-size: 16px!important;text-transform: capitalize!important;}
.list-room-type ul, .list-enqu-btn ul{overflow: auto;margin-bottom: 0px!important;}
.list-enqu-btn ul li{width: 50%!important;}
/*.list-room-type{padding-top: 0px!important;}*/
.ele-btn a{margin: 10px 0px!important;}
.pg-elem h3{padding-bottom: 0px!important;}


/*.list-spac{margin: 0px!important;}*/
.home-list-pop img.title-img{width: 40px; height: 40px;float: left; margin-right: 5px;}


.custom-ancr{border: 1px solid #eaeaea;
    text-align: center;
    /*display: block;*/
    padding: 5px 10px;
    color: #3e4c56;
    box-sizing: border-box;
    margin: 4px;
    border-radius: 2px;
    font-weight: 600;}
.custom-ancr:hover{color:#fff;    background: #F44336;}





























































